*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    background-color: rgba(0, 81, 255, 0.467);
}
h1{
    font-size: 4rem;
}
.container{
    border: red solid 2px;
    background: white;
    height: 600px;
    width: 800px;
    position: relative;
    margin: 0 auto;
    padding-top: 3px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 15px 1px #000000; 
    box-shadow: 4px 5px 15px 1px #000000;
}

#quiz-container{
    position: relative;
    
}

header{
    margin-bottom: 35px;
}

#start-button{
    font-size: 3rem;
    border: black solid 2px;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
}
#start-button:hover{
    color: white;
    background:rgba(0, 81, 255);
    border-radius: 10px;
}

.hidden{
    display: none;
}
.unhidden{
    display:block;
}

.choices{
    border: blue 1px solid;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.choices:hover{
    color: white;
    background: rgb(0, 81, 255);
    border:red 2px solid;
    border-radius: 10px;
}

#questions-div{
    font-size: 2rem;
}

#answers-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#answers-container > div{
    margin-right: 10px;
}

#timer-div{
    color:black;
    font-size: 2rem;
}

#game-over{
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    top: 7%;
    display: none;
    width: 100%;
    padding: 0px 0px 115px 0px;
    background-color: rgb(255, 255, 255);
    opacity: .95;


    /* font-size: 4rem;
    font-weight: 800;
    position: absolute;
    z-index: 1;
    top:8%;
    display: none;
    width: 100%;
    padding: 212px 0px 200px 0px;
    background-color: rgb(255, 255, 255);
    opacity: .9; */
}