*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}
h1{
    font-size: 4rem;
}
header{
    margin-bottom: 35px;
}

#start-button{
    font-size: 3rem;
    border: black solid 5px;
    padding: 50px;
    width: 500px;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer;
}
#start-button:hover{
    color: white;
    background:blue;
}

.hidden{
    display: none;
}
.unhidden{
    display:block;
}

.choices{
    border: blue 1px solid;
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.choices:hover{
    color: white;
    background: blue;
    border:red 2px solid;
}

#questions-div{
    font-size: 2rem;
}

#answers-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* width: 600px; */
}
#answers-container > div{
    margin-right: 10px;
}